In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline 
data = pd.read_csv("C:/Users/Kreator.0/Desktop/t1/train_ver2.csv")

Populating the interactive namespace from numpy and matplotlib

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
data.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
import re
#pattern = re.compile("^2015-06-[0-9][0-9]$")
data['fecha_dato'] = pd.to_datetime(data['fecha_dato'], format='%Y-%m-%d')
        #m = [row for row in l if 'a' in row[0]]
mask = (data['fecha_dato'] > '2015-06-01') & (data['fecha_dato'] <= '2015-06-30')
data1 = data.loc[mask]
#data1.head(100)
mask = (data1['ind_empleado'] == 3)
data2 = data1.loc[mask]
data2.head()

Empty DataFrame
Columns: [fecha_dato, ncodpers, ind_empleado, pais_residencia, sexo, age, fecha_alta, ind_nuevo, antiguedad, indrel, ult_fec_cli_1t, indrel_1mes, tiprel_1mes, indresi, indext, conyuemp, canal_entrada, indfall, tipodom, cod_prov, nomprov, ind_actividad_cliente, renta, segmento, ind_ahor_fin_ult1, ind_aval_fin_ult1, ind_cco_fin_ult1, ind_cder_fin_ult1, ind_cno_fin_ult1, ind_ctju_fin_ult1, ind_ctma_fin_ult1, ind_ctop_fin_ult1, ind_ctpp_fin_ult1, ind_deco_fin_ult1, ind_deme_fin_ult1, ind_dela_fin_ult1, ind_ecue_fin_ult1, ind_fond_fin_ult1, ind_hip_fin_ult1, ind_plan_fin_ult1, ind_pres_fin_ult1, ind_reca_fin_ult1, ind_tjcr_fin_ult1, ind_valo_fin_ult1, ind_viv_fin_ult1, ind_nomina_ult1, ind_nom_pens_ult1, ind_recibo_ult1]
Index: []

[0 rows x 48 columns]

In [5]:
from sklearn import preprocessing
# V and H - male and female
le = preprocessing.LabelEncoder()
le.fit(data1["sexo"])
data1["sexo"] = le.transform(data1["sexo"])
print data1["sexo"].head()

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\numpy\lib\arraysetops.py:216: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))
C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\numpy\lib\arraysetops.py:275: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  return aux[:-1][aux[1:] == aux[:-1]]

3144384    2
3144385    2
3144386    1
3144387    1
3144388    2
Name: sexo, dtype: int64

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
#print(data1.head())

le.fit(data1["ind_empleado"])
data1["ind_empleado"] = le.transform(data1["ind_empleado"])
print data1["ind_empleado"].head()
le.fit(data1["pais_residencia"])
data1["pais_residencia"] = le.transform(data1["pais_residencia"])
print data1["pais_residencia"].head()
le.fit(data1["tiprel_1mes"])
data1["tiprel_1mes"] = le.transform(data1["tiprel_1mes"])
print data1["tiprel_1mes"].head()

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

3144384    4
3144385    4
3144386    4
3144387    4
3144388    4
Name: ind_empleado, dtype: int64

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

3144384    35
3144385    35
3144386    35
3144387    35
3144388    35
Name: pais_residencia, dtype: int64
3144384    1
3144385    1
3144386    1
3144387    2
3144388    2
Name: tiprel_1mes, dtype: int64

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [7]:
data1["indrel_1mes"].tail()

3776489    1
3776490    1
3776491    1
3776492    1
3776493    1
Name: indrel_1mes, dtype: object

In [9]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion = "gini",max_depth=30, min_samples_leaf=1)
clf_gini.fit(pd.DataFrame(data1,columns=["ind_empleado","pais_residencia","tiprel_1mes"]),data1["ind_recibo_ult1"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=30,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [10]:
print(clf_gini.predict([[3, 37, 1]]))

[1]

In [11]:
data1

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
3144384,2015-06-28,16132,4,35,2,48,1995-03-08,0.0,244,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144385,2015-06-28,1063040,4,35,2,25,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
3144386,2015-06-28,1063041,4,35,1,24,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144387,2015-06-28,1063042,4,35,1,26,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144388,2015-06-28,1063043,4,35,2,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144389,2015-06-28,1063044,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144390,2015-06-28,1063045,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144391,2015-06-28,1063047,4,35,1,22,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144392,2015-06-28,1063049,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144393,2015-06-28,1063050,4,35,1,24,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144394,2015-06-28,1063051,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144395,2015-06-28,1063052,4,35,2,29,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144396,2015-06-28,1063053,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144397,2015-06-28,1063054,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144398,2015-06-28,1063055,4,35,1,25,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144399,2015-06-28,1063056,4,35,2,26,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144400,2015-06-28,1063038,4,35,1,22,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144401,2015-06-28,1063037,4,35,1,25,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144402,2015-06-28,1063036,4,35,2,24,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144403,2015-06-28,1063034,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144404,2015-06-28,1063018,4,35,1,36,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144405,2015-06-28,1063019,4,35,2,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144406,2015-06-28,1063020,4,35,2,22,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144407,2015-06-28,1063021,4,35,2,32,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144408,2015-06-28,1063022,4,35,1,23,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144409,2015-06-28,1063024,4,35,1,30,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144410,2015-06-28,1063025,4,35,2,24,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144411,2015-06-28,1063026,4,35,2,24,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144412,2015-06-28,1063027,4,35,2,26,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3144413,2015-06-28,1063028,4,35,1,26,2012-09-19,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3776464,2015-06-28,549730,4,35,1,71,2005-08-19,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776465,2015-06-28,549734,4,35,2,41,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
3776466,2015-06-28,549736,4,35,1,38,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776467,2015-06-28,549738,4,35,2,66,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
3776468,2015-06-28,549743,4,35,2,49,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776469,2015-06-28,549746,4,35,2,93,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776470,2015-06-28,549747,4,35,1,95,2005-10-04,0.0,117,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776471,2015-06-28,549704,4,35,2,49,2005-08-18,0.0,40,1.0,...,0,0,0,1,0,0,0,1.0,1.0,1
3776472,2015-06-28,549692,4,35,2,68,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
3776473,2015-06-28,549687,4,35,2,47,2005-10-06,0.0,117,1.0,...,1,0,0,0,0,0,0,0.0,0.0,1
3776474,2015-06-28,549683,4,35,2,73,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776475,2015-06-28,549662,4,98,2,54,2005-08-18,0.0,119,1.0,...,0,1,0,1,1,0,0,0.0,0.0,0
3776476,2015-06-28,549663,4,98,1,54,2006-11-20,0.0,119,1.0,...,0,1,0,0,0,0,0,0.0,0.0,0
3776477,2015-06-28,549664,4,12,2,41,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776478,2015-06-28,549665,4,35,2,42,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776479,2015-06-28,549669,4,35,1,56,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776480,2015-06-28,549670,4,35,2,46,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
3776481,2015-06-28,549671,4,35,1,40,2005-08-18,0.0,19,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776482,2015-06-28,549659,4,35,2,46,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776483,2015-06-28,549672,4,35,2,59,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
3776484,2015-06-28,549674,4,35,1,41,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,1.0,1.0,1
3776485,2015-06-28,549675,4,35,1,46,2005-08-18,0.0,119,1.0,...,0,0,0,0,1,0,0,0.0,0.0,0
3776486,2015-06-28,549676,4,35,2,52,2005-08-18,0.0,119,1.0,...,0,0,0,0,1,1,0,1.0,1.0,1
3776487,2015-06-28,549677,4,35,2,46,2005-08-18,0.0,119,1.0,...,0,1,0,0,0,0,0,0.0,0.0,1
3776488,2015-06-28,549678,4,35,2,63,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776489,2015-06-28,549679,4,35,2,39,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776490,2015-06-28,549682,4,35,2,39,2005-08-18,0.0,119,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776491,2015-06-28,549673,4,35,1,49,2006-10-16,0.0,105,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3776492,2015-06-28,889143,4,35,1,46,2010-08-19,0.0,59,1.0,...,0,0,0,1,1,0,0,1.0,1.0,1
3776493,2015-06-28,498639,4,35,2,65,2004-10-28,0.0,129,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [12]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split( pd.DataFrame(data1,columns=["ind_empleado","pais_residencia","tiprel_1mes"]),data1["ind_recibo_ult1"], test_size = 0.3, random_state = 100)

C:\Users\Kreator.0\AppData\Local\conda\conda\envs\py27\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
y_pred = clf_gini.predict(X_test)

In [17]:
print "Accuracy is ", accuracy_score(y_test,y_pred)*100

Accuracy is  84.4652565745